BetfairStreamClient/bin/
BetfairStreamClient/obj/
StreamClientConsole/bin/
StreamClientConsole/obj/


## User-specific / Local settings
.vs/
.vscode/
StreamClientConsole/appsettings.json
launch.json

*.json